*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    padding: 4%;
}
table{
    border: 2px solid black;
    margin-top: 3%;
    border-radius: 5px;
}
table th{
  font-weight: bold;
  background-color: rebeccapurple !important;
  color: white;
  
}
.search{
     border-radius: 5px;
    width: 100%;
    margin-top: 6%;
    margin-left: 1%;
  }

  .heading{
      text-align: center;
      font-family: sans-serif;
      font-weight: 300 !important;
      margin-top: 4%;
  }
nav ul a, nav ul li{
    text-decoration: none;
    color: black;
    list-style: none;
    margin-left: -2%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

nav ul li{
    padding-left: 55px;
}

nav ul a:hover, nav ul li:hover{
color: rebeccapurple;
}